.e11{
    background-color: blueviolet;
    border-radius: 30px;
    text-align: center;
    border: 5px solid red;
}
.e12{
    background-color: yellow;
}
.e13{
    color: red;
  
}.e15{
    color: green;
}
.e77{
    background-color: yellow;
    color: black;
    text-align: center;
     border-radius: 10px ;
     font-weight: 900;
}
.e44{
    width: 470px;
    text-align: center;
}
.e56{
  text-align: center;
}
.e90{
    background-color: yellow;
    border-radius: 50px;
    text-align: center;
}
.e87{
width: 100%;
height: 40px;
}
.e98{
    background-color: green;
    color: black;
    width: 60%;
}
.e880{
    color: green;
}
.e890{
    background-color: yellow;
    color: black;
    text-align: center;
}

.e990{
    background-color: green;
}
.e456{
    background-color: blue;


}
.e120{
    border-collapse: collapse;
    width: 100%;
}
.dfg{
    border: 2px solid black;
    background-color: black;
    color: aliceblue;
   
}
.bnm{
    background-color: green;
}
.nmk{
    background-color: blue;
}
.vbn{
    border: 1px solid black;
    background-color: red;
}



